[submodule "tfc-k6x"]
	path = tfc-k6x
	url = https://github.com/SacrificeGhuleh/tfc-k6x.git
[submodule "NxpCarInterface"]
	path = NxpCarInterface
	url = https://github.com/SacrificeGhuleh/NxpCarInterface.git
